<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Manage Subscriptions</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="light">
      Your Subscription
    </ion-list-header>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/img/default_logo.png">
      </ion-thumbnail>
      <h2>Inpatient Tracker</h2>
      <p *ngIf="currentSubscribedPlan && currentSubscribedPlan.plan">{{currentSubscribedPlan.plan.nickname}}</p>
      <p *ngIf="currentSubscribedPlan && currentSubscribedPlan.trial_end && moment(currentSubscribedPlan.trial_end * 1000).format('x') > moment().format('x')">Trial Ends on {{moment(currentSubscribedPlan.trial_end * 1000).format('LL')}}</p>
\      <p *ngIf="currentSubscribedPlan && currentSubscribedPlan.current_period_end">{{(currentSubscribedPlan && (currentSubscribedPlan.cancel_at_period_end || currentSubscribedPlan.canceled_at)) ? "Expiry " : "Renews"}} {{moment(currentSubscribedPlan.current_period_end * 1000).format('LL')}}</p>
      <span *ngIf="currentSubscribedPlan && currentSubscribedPlan.plan" item-right>$ {{(currentSubscribedPlan.plan.amount) / 100 | number : '1.2-2'}}</span>
    </ion-item>
  </ion-list>

  <ion-list class="subscriptions-list">
    <ion-list-header color="light">
      Options
    </ion-list-header>

    <ion-item *ngFor="let subscription of subscriptions">
      <h2>{{subscription.nickname}}</h2>
      <h4>$ {{(subscription.amount) / 100 | number : '1.2-2'}}</h4>
      <p *ngIf="currentSubscribedPlan && currentSubscribedPlan.plan && subscription.id == currentSubscribedPlan.plan.id">Current Plan</p>
      <button ion-button outline round item-end *ngIf="currentSubscribedPlan && currentSubscribedPlan.plan && subscription.id !== currentSubscribedPlan.plan.id" (click)="changeSubscription(subscription.id)">Change Plan</button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light">
    </ion-list-header>
    <ion-item class="subscription-item" *ngIf="currentSubscribedPlan && (!currentSubscribedPlan.cancel_at_period_end && !currentSubscribedPlan.canceled_at)">
      <button ion-button full clear color="danger" (click)="cancelSubscription()">
    Cancel Subscription
    </button>
    </ion-item>
    <ion-item class="subscription-item" *ngIf="currentSubscribedPlan && (currentSubscribedPlan.cancel_at_period_end || currentSubscribedPlan.canceled_at)">
      <button ion-button full clear color="primary" (click)="reactivateSubscription()">
      Re-activate Subscription
    </button>
    </ion-item>
  </ion-list>


  <p padding *ngIf="currentSubscribedPlan && (moment(currentSubscribedPlan.current_period_end * 1000).format('x') > moment().format('x'))">{{(currentSubscribedPlan && (currentSubscribedPlan.cancel_at_period_end || currentSubscribedPlan.canceled_at)) ? "You have cancelled subscription, but" : 'If you cancel now,'}} you can still access your subscription until {{moment(currentSubscribedPlan.current_period_end
    * 1000).format('LL')}}.</p>

</ion-content>
<ion-footer padding>
  <button ion-button block outline (click)="viewManageSources()">
  Manage Cards
  </button>
</ion-footer>
