manage-subscriptions {
  .center {
    text-align: center !important;
  }

  .subscriptions-list {
    margin-bottom: 0 !important;
    overflow-y: scroll !important;
  }

  .subscription-item span.button-inner {
    font-size: medium;
  }
}
