hospital-list,
switch-hospital {
  .selected-hospital {
    background-color: #e4e4e4;
  }

  h3 {
    text-transform: uppercase;
  }

  ion-footer{
    box-shadow: 0 0 10px grey !important;
  }

  .save-button{
    margin: 0;
    border-radius: 0;
  }

}
.review-status-text{
    border: 1px solid lighten(color($colors, dark),35%) !important;
    top: 0 !important;
    position: absolute !important;
    right: 0 !important;
    padding: 5px !important;
    margin: 0px 2px 2px 2px !important;
    border-top: 0 !important;
    border-right: 0 !important;
    color: color($colors, dark) !important;
    font-size: 12px !important;
  }
.rejected-text{
  color: color($colors, danger) !important;
  border-color: color($colors, danger) !important;
}
