<ion-toolbar color="light">
  <ion-row class="flex-center">
    <button ion-button clear *ngFor="let tab of tabs; let i = index" (click)="viewtab(tab.value)" [color]="isActive(tab.value) ? 'primary' : 'dark'" [hidden]="!helper.isMenuVisible(tab.showFor)">
      <ion-icon [name]="isActive(tab.value) ? tab.filled : tab.outline"></ion-icon>{{tab.title}}
       <ion-badge item-end *ngIf="i==2 && badgeCount > 0" color="danger" class="count-badge"> {{ badgeCount }} </ion-badge>
    </button>
  </ion-row>
</ion-toolbar>
