footer-menu{
    $largeScreen: 1024px;
  text-align: center;
  ion-icon{
    font-size: 175%;
  }

  button .button-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .count-badge{
    position: absolute;
    top: 0;
    right: 0;
  }

  @media(min-width:$largeScreen) {
    ion-icon{
      margin-right: 10px;
    }
    span.button-inner {
      display: grid;
    }
  }

  .flex-center{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}
