page-add-patient {
  .scroll-content {
    overflow-x: hidden;
    overflow-y: auto;
  }

  ion-input {
    margin: 0 !important;
  }

  ion-item {
    border-top: unset !important;
  }

  ion-label {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  }

  .radio-group .item-inner {
    border: 0 !important;
  }

  .fin-number{
    .input-cover{
      width: 85% !important;
    }
  }

  .radio-container {
    margin: 0 !important;
    border-bottom: 1px solid #ddd;

    .radio {
      margin-right: 10px !important;
    }
  }

  .checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .radio-label {
    padding-left: 16px;
  }
}
