<ion-header>
  <ion-navbar hideBackButton="true" color="light">
    <ion-buttons left>
      <button ion-button (click)="view.dismiss()" clear>
        <ion-icon name="close" class="modal-close-button"> </ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title">
      {{ title }}
    </ion-title>
    <ion-buttons end *ngIf="type!='notes'">
      <button color="primary" ion-button (tap)="lookupAllEntities()" clear>
        More
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light" class="searchbar-container" *ngIf="type!='notes'">
    <ion-searchbar mode='ios' [(ngModel)]="query" autocomplete="off" showCancelButton="true" placeholder="Search" (ionCancel)="sortEntities()" color="light" class="searchbar"> </ion-searchbar>
  </ion-toolbar>
  <ion-buttons>
    <ion-datetime #datePicker [hidden]='true' [(ngModel)]="this.date" [max]="max" [min]="min" name="date" displayFormat="DD-MMM-YYYY" pickerFormat="MM/DD/YYYY" required> </ion-datetime>
    <button [disabled]="mode||flase" color="light" mode='ios' ion-button class="time-button" (tap)="datePicker.open()">
      <ion-icon name="md-calendar" class="calendar-icon"></ion-icon>
      <span *ngIf="!mode"> Choose Date : &nbsp; </span> {{ moment(this.date).format('MM/DD/YYYY') }}
    </button>
  </ion-buttons>
</ion-header>

<ion-content no-bounce>
  <ion-list *ngIf="type!='notes'">
    <ion-item *ngFor="let entity of entitiesList | search : query : searchKeys; trackBy:entity?.code" [ngClass]="isEntityBilled(entity)?'billed-entity':''">
      <div item-content [ngClass]="isEntityBilled(entity)?'gray-entity entity-container':'entity-container'">
        <ion-checkbox [disabled]="isEntityBilled(entity)" [checked]="isEntitySelected(entity)" (click)="toggleSelection(entity) " mode='ios'> </ion-checkbox>
        <div class="entity ">
          <div class="code "> {{ entity.code }} </div>
          <div class="name "> {{ entity.name }} </div>
        </div>
        <ion-icon [name]="favoriteList[entity.code] ? 'star':'star-outline'" class="fav-icon " (tap)="toggleFavorite(entity) "></ion-icon>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="type=='notes' || isNoteEditable ">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating> Title </ion-label>
        <ion-input [(ngModel)]="notes.title " autocomplete="on" autocorrect="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating> Description </ion-label>
        <ion-textarea rows='10' autocomplete="on" autocorrect="on" [(ngModel)]="notes.description "></ion-textarea>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block (click)="save()" [disabled]="isValid()" outline>Save</button>
  </ion-toolbar>
</ion-footer>
