<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="text-block">
    <p><span>We will not use or share your information with anyone except as described in this Privacy Policy.</span></p>
    <p><span>We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</span></p>
    <h3><strong>Information Collection And Use</strong></h3>
    <p><span>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, postal address, other information (“Personal Information”).</span></p>
    <p><span>We collect this information for the purpose of providing the Service, identifying and communicating with you, responding to your requests/inquiries, servicing your purchase orders, and improving our services.</span></p>
    <h3><strong>Log Data</strong></h3>
    <p><span>When you access the Service by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use and other statistics (“Log Data”).</span></p>
    <p><span>In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service’s functionality. These third party service providers have their own privacy policies addressing how they use such information.</span></p>
    <p><span>Please see the section regarding Location Information below regarding the use of your location information and your options.</span></p>
    <h3><strong>Location Information</strong></h3>
    <p><span>We may use and store information about your location depending on the permissions you have set on your device. We use this information to provide features of our Service, to improve and customize our Service. You can enable or disable location services when you use our Service at anytime, through your mobile device settings.</span></p>
    <h3><strong>Cookies</strong></h3>
    <p><span>Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and transferred to your device. We use cookies to collect information in order to improve our services for you.</span></p>
    <p><span>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The Help feature on most browsers provide information on how to accept cookies, disable cookies or to notify you when receiving a new cookie.</span></p>
    <p><span>If you do not accept cookies, you may not be able to use some features of our Service and we recommend that you leave them turned on.</span></p>
    <h3><strong>Service Providers</strong></h3>
    <p><span>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services and/or to assist us in analyzing how our Service is used.</span></p>
    <p><span>These third parties have access to your Personal Information only to perform specific tasks on our behalf and are obligated not to disclose or use your information for any other purpose.</span></p>
    <h3><strong>Communications</strong></h3>
    <p><span>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</span></p>
    <h3><strong>Compliance With Laws</strong></h3>
    <p><span>We will disclose your Personal Information where required to do so by law or subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Service.</span></p>
    <h3><strong>Business Transaction</strong></h3>
    <p><span>If PtScout Technologies LLC, is involved in a merger, acquisition or asset sale, your Personal Information may be transferred as a business asset. In such cases, we will provide notice before your Personal Information is transferred and/or becomes subject to a different Privacy Policy.</span></p>
    <h3><strong>Security</strong></h3>
    <p><span>The security of your Personal Information is important to us, and we strive to implement and maintain reasonable, commercially acceptable security procedures and practices appropriate to the nature of the information we store, in order to protect it from unauthorized access, destruction, use, modification, or disclosure.</span></p>
    <p><span>However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the Personal Information we have collected from you.</span></p>
    <h3><strong>Links To Other Sites</strong></h3>
    <p><span>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.</span></p>
    <p><span>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</span></p>
    <h3><strong>Children’s Privacy</strong></h3>
    <p><span>Only persons age 18 or older have permission to access our Service. Our Service does not address anyone under the age of 13 (“Children”).</span></p>
    <p><span>We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you learn that your Children have provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from a children under age 13 without verification of parental consent, we take steps to remove that information from our servers.</span></p>
    <h3><strong>Changes To This Privacy Policy</strong></h3>
    <p><span>This Privacy Policy is effective as of May 18, 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</span></p>
    <p><span>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</span></p>
    <p><span>If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</span></p>
    <h3><strong>Contact Us</strong></h3>
    <p><span>If you have any questions about this Privacy Policy, please contact us at </span><a href="mailto:support@ptscout.com"><span>support@ptscout.com</span></a></p>
  </div>
</ion-content>
