<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title> Billing </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <no-results *ngIf="!hospitalLength" icon="ios-alert-outline" text="No Records found"></no-results>

  <ion-list *ngIf="hospitalLength">
    <div *ngFor="let hospital of hospitals">
    <ion-item *ngIf="hospital.cartCount > 0" [navPush]="cartDetailPage" [navParams]="hospital">
      <h2 color="primary">{{hospital.hospitalDetail.name}}</h2>
      <p [innerHtml]="helper.getAddress(hospital.hospitalDetail)"></p>
      <h3 color="secondary">{{ hospital.cartCount }} record(s) in billing</h3>
      <ion-icon name="ios-arrow-forward-outline" item-right></ion-icon>
    </ion-item>
  </div>
  </ion-list>
</ion-content>

<ion-footer id="footer-menu">
  <footer-menu></footer-menu>
</ion-footer>
