<ion-header>
  <ion-navbar>
    <ion-title>
      Hospital Cards List
    </ion-title>
    <ion-buttons *ngIf="screenType == 'pendingApprovalList'">
      <button ion-button clear menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>

  <div *ngIf="screenType != 'pendingApprovalList'">
    <ion-list-header class="hospital-name" color="light" (tap)="selectHospital()">
      <span *ngIf="currentHospital.hospitalId"> {{ (this.currentHospital.hospitalDetail || {}).shortname ? this.currentHospital.hospitalDetail.shortname : this.currentHospital.shortname  }} </span>
      <span *ngIf="!currentHospital.hospitalId"> Select/Add Hospital </span>
    </ion-list-header>
    <div padding>
      <ion-segment [(ngModel)]="currentSegment" (ionChange)="onSegmentChange()">
        <ion-segment-button value="public">
          Public
        </ion-segment-button>
        <ion-segment-button value="custom">
          Custom
        </ion-segment-button>
      </ion-segment>
    </div>

  </div>
  <ion-list>
    <card-preview *ngFor="let card of cards" [params] = "{ card:card, isCardScanning: (screenType == 'cardSelectionForScanning'), currentSelectedCard: currentSelectedCard, screenType: screenType, currentHospital: currentHospital }" (cardSelectionEmitter)="onCardSelection($event)" (reloadListing)="reloadListing($event)"></card-preview>
  </ion-list>
  <no-results icon="ios-albums-outline" [text]="'No '+ (currentSegment == 'public' ? 'Public' : 'Custom') + ' cards found'" *ngIf="screenType != 'pendingApprovalList' && !cards.length"></no-results>
  <no-results icon="ios-albums-outline" text="No pending card requests" *ngIf="screenType == 'pendingApprovalList' && !cards.length"></no-results>
  <ion-fab bottom right *ngIf="currentSegment == 'custom' && screenType != 'cardSelectionForScanning'">
   <button ion-fab (click)="createNewCard()">
     <ion-icon name="add"></ion-icon>
   </button>
 </ion-fab>
 </div>
 <div>

</div>
<ion-select [selectOptions]="selectOptions" [(ngModel)]="currentHospital.hospitalId" [hidden]="true" (ngModelChange)="changeHospital($event)" #hospitalList>
  <ion-option *ngFor="let hospital of hospitals" [value]="hospital.hospitalId">{{ hospital.hospitalDetail.shortname }}</ion-option>
</ion-select>
</ion-content>
<ion-footer *ngIf="screenType == 'cardSelectionForScanning'">
    <button ion-button (click)="continueCardScanning()" block [disabled]="isContinueBtnDisabled()" class="footer-btn">CONTINUE</button>
</ion-footer>
