<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons left *ngIf="isWelcomeScreen">
      <button ion-button (click)="pop()">
        Previous
      </button>
    </ion-buttons>
    <ion-title>{{ isWelcomeScreen ? 'Step 3/3' : 'Subscriptions' }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="finish()" [disabled]="!(isSubscribed)">
      {{ isWelcomeScreen ? 'Finish' : 'Continue' }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <h5 class="center">Select a subscription plan,<br/> which works for you.</h5>

  <ion-card>
    <ion-list>
      <ion-list-header color="light">
        Subscription Plans
      </ion-list-header>

      <ion-item *ngFor="let subscription of subscriptions">
        <h2>{{subscription.nickname}}</h2>
        <button ion-button item-end outline round color="primary" (click)="viewSubscriptionTermsConditonsPage(subscription)" *ngIf="isReady && !isSubscribed"> Subscribe</button>
        <button ion-button item-end outline round color="secondary" *ngIf="isReady && currentSubscribedPlan && (currentSubscribedPlan.status == 'active' || currentSubscribedPlan.status == 'trialing') && (currentSubscribedPlan.plan.nickname && currentSubscribedPlan.plan ? subscription.nickname == currentSubscribedPlan.plan.nickname : false)"> Subscribed</button>
        <p *ngIf="subscription.trial_period_days > 0">{{subscription.trial_period_days}} days will be free trial</p>
        <p>Price: $ {{ (subscription.amount/ 100) | number : '1.2-2'}}</p>
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>
<ion-footer padding>
  <button ion-button block outline color="pirmary" (click)="viewManageCards()" *ngIf="stripeCustId && stripeCustId !== 'null'">Manage Cards</button>
</ion-footer>
