<ion-card>
  <ion-list>
    <ion-list-header color="light">
      Choose Specialization
    </ion-list-header>
    <ion-item>
      {{ specializationName }}
      <span style="color:#8e8e8e" *ngIf="!selectedSpec"> Select a Specialization </span>
      <ion-badge item-right color="light" (click)="selectSpecialization()">Choose</ion-badge>
    </ion-item>
  </ion-list>
</ion-card>
