cart-detail,
page-home {
  $smallScreen: 600px;
  $largeScreen: 1024px;

  .sub-header {
    text-align: center;
    background: #32db64;
    color: #fff;
    font-size: 16px;
    padding: 2px;
  }

  .keyboard-opened{
    .fixed-content{
      margin: 0 !important;
    }

    #patient-listing{
      padding: 0 !important;
    }
  }

  .hide-footer{
    display: none !important;
  }

  .scroll-content {
    margin-top: 100px !important;
    margin-bottom: 0 !important;
    background-color: white;
  }

  .options-toolbar{
    padding: 0 !important;
    .toolbar-background{
      border: 0 !important;
    }
    .hospital-name, .doctor-name{
      border-bottom: 1px solid #ddd;
    }
    .searchbar{
      background: #d0d0d0 !important;
    }
  }

  .has-subheader{
    margin-top:40px !important;
  }

  .list{
    padding-bottom: 70px;
  }

  .hospital-name {
    text-align: center;
  }

  .followup {
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right:10px;
  }

  p {
    white-space: pre-wrap !important;
  }

  img.header-logo {
    height: 50px;
  }

  .title .toolbar-title {
    font-size: 1.45em;
  }

  .timestamp {
    float: right;
    display: inline-block;
    color: color($colors, primary);
    font-size: small;
  }

  .ticket-icon {
    background-image: url("../../assets/icon/ticket.png");
    background-size: 36px;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 5px;
  }

  .hide-border .item-inner {
    border-bottom: 0 !important;
  }

  ion-card {
    background-color: #ffffff;
  }

  .card-header-md,
  ion-card-header {
    padding: 8x !important;
  }

  ion-card.yellow {
    background-color: #f3dd8a;
    border: 1px solid #daa70e;
  }

  .img-button {
    width: 10%;
    height: 10%;
  }

  .larger {
    font-size: 35px !important;
  }

  .home-slide-image {
    height: 120px;
    background-position: center 150px;
    text-align: center;
  }

  .slide-image {
    max-height: 50% !important;
    max-width: 100% !important;
    margin: 18px 0;
  }

  ion-slide.slider {
    height: 30% !important;
    margin-top: 10px;
    @media (max-width:$smallScreen) {
      margin-top: -13px;
    }
    @media(min-width:$largeScreen) {
      margin-top: -17px;
    }
  }

  .custom {
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
    width: 85px;
    display: block;
    text-align: center;
  }

  .custom:active {
    background: rgba(224, 224, 224, 0.76);
  }

  .button-bootom-text {
    margin: auto;
  }

  .buttonIcon {
    height: 4.6rem !important;
    font-size: 2.4rem !important;
  }

  .centerGrid {
    text-align: -webkit-center;
    margin-top: 40px;
  }

  .IconButton {
    font-size: -webkit-xxx-large;
  }

  .notificationIcon {
    float: right;
    box-shadow: none !important;
  }

  .notificationBadge {
    margin-top: -17px;
    background-color: #ff4747;
  }

  .newsfeed-update-button {
    position: fixed;
    text-align: center;
    z-index: 100;
    width: 100%;
  }

  .newsfeed-update-button button {
    padding-bottom: 3px;
    font-size: 15px;
    box-shadow: 1px 3px 2px silver;
  }
  //patient-listing Styling
  .item-container {
    padding-left: 5px;
  }

  .patient-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    .item-cover {
      display: none;
    }

    .checkbox {
      margin: 9px 16px 9px 4px !important;
    }

    .patient-data {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
    }

    .room {
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(233, 0, 0, 0.8);
      padding: 3px 8px;
      color: white;
      font-weight: bold;
    }

    .name {
      color: color($colors,primary);
      font-size: 1em;
      padding-bottom: 2px;
    }

    .fin {
      color: color($colors,primary);
      font-size: 1.4rem;
      display: inline-block;
    }

    .dob {
      font-size: 1.4rem;
      padding-left: 4%;
      display: inline-block;
    }

    .details {
      margin-top: 5px;
      width: 100%;
    }
  }

  .searchbar {
    .toolbar-background {
      background-color: color($colors,primary);
    }

    input {
      background-color: white !important;
    }

    .button-clear {
      color: white;
    }
  }

  .search-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    .search-type {
      font-size: 1.1em;
    }

    .options-button {
      font-size: 1.6em;
      padding: 2px;
    }
  }

  .no-patients {
    text-align: center;
    padding: 20px;
    border: none;

    ion-icon {
      font-size: xx-large;
    }
  }

  span.counter {
    display: inline-block;
    float: right;
    font-size: 1.45rem;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: center;
    text-transform: lowercase;
    background-color: #f3dd8a;
  }

  .hospital {
    width: 100%;
    background-color: #00a2d1;
    margin: 0;

    .select-hospital {
      color: white;
      width: 100%;
      padding: 3px 0 1px;
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
    }
  }

  .selected {
    // background-color: #efefef !important;
     background-color: rgba(102, 255, 0, 0.25) !important;
  }
}

button {
  text-transform: none !important;
}

.add-patient-alert {
  .alert-message {
    overflow: auto;
  }

  .alert-button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button span {
      font-weight: normal;
    }
  }
}
