page-archive {
  .label-background {
    width: 100%;

    .label-text {
      height: 30px;
      text-align: center;
      background-color: #f7f6f5;
      padding: 7px 0 1px;
      font-size: 1.1em;
    }
  }

  .search-bar .toolbar-background {
    background-color: rgba(10,10,10,0.1) !important;
  }

  .search {
    margin-top: 53px;
  }

  .name {
    color: color($colors,primary);
  }

  .fin {
    color: color($colors,primary);
  }

  .dob {
    font-size: 1.4rem;
    padding-left: 4%;
    display: inline-block;
  }

  .name {
    color: color($colors,primary);
    font-size: 1em;
    padding-bottom: 2px;
  }

  .details {
    margin-top: 5px;
    width: 100%;
  }

  .fin {
    color: color($colors,primary);
    font-size: 1.4rem;
    display: inline-block;
  }
}
