<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end *ngIf="archivePatients.length">
      <button ion-button (click)="toggleSearchBar()">
       <ion-icon name="ios-search"></ion-icon>
  </button>
    </ion-buttons>
    <ion-title>
      Archive
    </ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="isVisible" class="search-bar" color="light">
    <ion-searchbar color="light" [(ngModel)]="query" autocomplete="on" showCancelButton="true" placeholder="Search" (ionCancel)="toggleSearchBar()"></ion-searchbar>
  </ion-toolbar>

  <div class="label-background" (tap)="selectHospital()">
    <div class="sub-header-light" color="light">{{currentHospital && currentHospital.shortname ? (currentHospital.shortname || '') : currentHospital && currentHospital.hospitalDetail ?currentHospital.hospitalDetail.shortname : ''  }}</div>
  </div>
</ion-header>

<ion-content>
  <no-results *ngIf="!archivePatients.length" icon="ios-contact-outline" text="No Patients found"></no-results>

  <ion-list *ngIf="archivePatients.length" [ngClass]="isVisible? 'search': '' ">

  <ion-item-sliding #slidingItem *ngFor="let patient of archivePatients | search : query : searchKeys;">
  <ion-item (click)="billRecords(patient)">
    <div class="patient-item">
            <div class="patient-data">
              <div class="name" color="primary"> {{ patient.name }} </div>
              <div class="details">
                <div class="fin" color="primary"> MR#{{ patient.medicalRecordNumber }} </div>
                <div class="dob"> DOB: {{ patient.dateOfBirth | date:'MM/dd/yyyy' }} </div>
              </div>
            </div>
          </div>
        </ion-item>
  <ion-item-options>
    <button ion-button color="dark" (click)="readmit(patient)">
      Re-admit
    </button>
    <button ion-button color="danger" (click)="cancelBilling(patient)">
      Cancel Billing
    </button>
  </ion-item-options>
</ion-item-sliding>
  </ion-list>
  <ion-select #allHospitals [selectOptions]="selectOptions" [(ngModel)]="currentHospital.hospitalId" [hidden]="true" (ngModelChange)="changeHospital($event)">
    <ion-option *ngFor="let hospital of hospitals" [value]="hospital.hospitalId">{{ hospital.hospitalDetail.shortname }}</ion-option>
  </ion-select>
</ion-content>
