<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Settings </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [navPush]="securityPage" permission dataKeep="PDF_SECURITY, APP_LOCK, TOUCH_ID" displayCss="flex">
      <ion-icon name="ios-lock-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
      Security
    </ion-item>

    <ion-item [navPush]="specializationPage" permission dataKeep='CHOOSE_SPECIALIZATION' displayCss="flex">
      <ion-icon name="ios-school-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
      Specialization
      <p>{{selectedSpec}}</p>
    </ion-item>

    <ion-item [navPush]="hospitalPage" permission dataKeep='HOSPITAL_SELECTION' displayCss="flex">
      <ion-icon name="ios-medkit-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
      Hospitals
    </ion-item>

    <ion-item [navPush]="hospitalCardsList">
    <!-- <ion-item [navPush]="recordSettings" permission [dataKeep]='CARDS_MANAGEMENT' displayCss="flex"> -->
      <ion-icon name="ios-albums-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
      Cards Management
    </ion-item>

    <ion-item [navPush]="recordSettings" permission [dataKeep]='RECORD_MANAGEMENT' displayCss="flex">
      <ion-icon name="ios-copy-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
      Records
    </ion-item>

    <ion-item (tap)="timepicker.open()" permission dataKeep='SCHEDULE_NOTIFICATION' displayCss="flex">
      Schedule Notifications:
      <div class="notification-time">Everyday {{moment(notificationTime, 'HH:mm').format("hh:mm A")}}</div>
      <ion-icon name="ios-notifications-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>

    <ion-item [hidden]='true'>
      <ion-datetime #dateTime displayFormat="hh mm " pickerFormat="hh mm A" [(ngModel)]="notificationTime" (ionChange)="setNotificationTime($event)"></ion-datetime>
    </ion-item>

    <div class="terms-conditions-container">
      <span (click)="viewTerms('terms')" class="button-clear-ios-primary">Terms and Conditions </span>
      and
      <span class="button-clear-ios-primary" (click)="viewTerms('policy')">Privacy Policy </span>
    </div>

  </ion-list>
</ion-content>
