<ion-header>

  <ion-navbar hideBackButton="true" color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Relations</ion-title>
  </ion-navbar>
  <div class="label-background" (tap)="selectHospital()">
    <div class="sub-header-light" color="light">{{ currentHospital && currentHospital.shortname ? (currentHospital.shortname || '') : currentHospital && currentHospital.hospitalDetail ?currentHospital.hospitalDetail.shortname : ''  }}</div>
  </div>

</ion-header>


<ion-content>
  <!-- <ion-list>
  <ion-item *ngFor="let relationGroupItem of _.keys(connectedRelationGroup)">
    <ion-label>{{ relationGroupItem }}</ion-label>
    <ion-badge item-right [color]="getBadgeColor(relation.connectedUserType)">{{ relation.connectedUserType }}</ion-badge>
  </ion-item>
</ion-list> -->
  <div *ngIf="currentRole != 'Doctor'">
    <ion-card *ngFor="let relationGroupItem of _.keys(connectedRelationsGroupList)">
      <ion-list>
        <ion-list-header color="light">
          {{relationGroupItem}}
        </ion-list-header>
        <ion-item *ngFor="let relation of connectedRelationsGroupList[relationGroupItem]">
          <ion-label>{{relation.connectedUserAliasName}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <div *ngIf="currentRole == 'Doctor'">
    <ion-card>
      <ion-list>
        <ion-list-header color="light" class="relation-header">
          Nurse
          <button ion-button item-right (click)="addRelation('Nurse')" clear>
            <ion-icon name="md-add-circle"></ion-icon>
          </button>
        </ion-list-header>
        <no-results [hidden]="connectedRelationsGroupList['Nurse'] && connectedRelationsGroupList['Nurse'].length" icon="contacts" text="No Nurses found"></no-results>
        <ion-item *ngFor="let relation of connectedRelationsGroupList['Nurse']">
          <ion-label>{{relation.connectedUserAliasName}}</ion-label>
          <div item-right *ngIf="currentRole == 'Doctor'">
            <button ion-button icon-only clear color="primary" class="edit-btn" (click)="openEditPermissionsModal(relation)">
              <ion-icon name="md-create"></ion-icon>
            </button>
            <button ion-button icon-only clear color="danger" (click)="detachRelationConfirmation(relation)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </div>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-list-header color="light" class="relation-header">
          Secretary
          <button ion-button item-right (click)="addRelation('Secretary')" clear>
            <ion-icon name="md-add-circle"></ion-icon>
          </button>
        </ion-list-header>
        <no-results [hidden]="connectedRelationsGroupList['Secretary'] && connectedRelationsGroupList['Secretary'].length" icon="contacts" text="No Secretary found"></no-results>
        <ion-item *ngFor="let relation of connectedRelationsGroupList['Secretary']">
          <ion-label>{{relation.connectedUserAliasName}}</ion-label>
          <div item-right *ngIf="currentRole == 'Doctor'">
            <button ion-button icon-only clear color="primary" class="edit-btn" (click)="openEditPermissionsModal(relation)">
              <ion-icon name="md-create"></ion-icon>
            </button>
            <button ion-button icon-only clear color="danger" (click)="detachRelationConfirmation(relation)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </div>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <no-results *ngIf="!connectedRelations.length && currentRole != 'Doctor'" icon="contacts" text="No Relations found"></no-results>

  <ion-select #allHospitals [selectOptions]="selectOptions" [(ngModel)]="currentHospital.hospitalId" [hidden]="true" (ngModelChange)="changeHospital($event)">
    <ion-option *ngFor="let hospital of userHospitals" [value]="hospital.hospitalId">{{ hospital.hospitalDetail.shortname }}</ion-option>
  </ion-select>
</ion-content>
