bb-word{
    display: flex;
    position: absolute;
    flex: 1 1 auto;
    padding: 10px;

  .bounding-box-ctr{
    border: 1px solid red !important;
    position: absolute !important;
  }
  .masked-ctr{
    color: black !important;
    position: absolute !important;
    background-color: rgb(255, 255, 255) !important;
    filter: grayscale(2%) blur(1.6px);
  }
}
.selected-word span.bounding-box-ctr {
  border: 1px solid #ffde00 !important;
}
.chosen-word span.bounding-box-ctr {
  border: 1px solid color($colors, secondary) !important;
  background-color: rgba(105, 187, 123, 0.43) !important;
}
