<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{source.card.brand}} Card</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="light">
    </ion-list-header>

    <ion-item>
      <h2>Card number</h2>
      <p>**** **** **** {{source.card.last4}}</p>
    </ion-item>

    <ion-item>
      <h2>Expiry date</h2>
      <p>{{source.card.exp_month}}/{{source.card.exp_year}}</p>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer padding>
  <ion-grid *ngIf="deafultSourceId !== source.id">
    <ion-row>
      <ion-col>
        <button ion-button full block color="primary" (click)="changeDefaultSource()">
        Make as Default
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block outline color="danger" (click)="deleteSource()" >
      Delete
    </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
