<ion-card permission dataKeep="APP_LOCK, TOUCH_ID" displayCss="block">
  <ion-list>
    <ion-list-header color="light">
      Touch ID & Passcode
    </ion-list-header>
    <ion-item permission dataKeep="TOUCH_ID">
      <ion-label>Enable Touch ID</ion-label>
      <ion-toggle color="secondary" [disabled]="disableTouchId" [ngModel]="touchId" (ngModelChange)="updateTouchID($event)"></ion-toggle>
    </ion-item>

    <ion-item (tap)="updatePasscode()" permission dataKeep="APP_LOCK">
      App Passcode
      <ion-badge item-right color="secondary" class="badge-button-small" (ionChange)="updatePasscode($event)"> {{ buttonText }} </ion-badge>
    </ion-item>

    <ion-item permission dataKeep="APP_LOCK">
      Auto-lock
      <ion-badge item-right color="secondary" class="badge-button-small" (tap)="showOptions($event)">{{lockOptions[selectedOption]}}</ion-badge>
    </ion-item>

  </ion-list>
</ion-card>

<ion-card permission dataKeep="PDF_SECURITY" displayCss="block">
  <ion-list>
    <ion-list-header color="light">
      PDF Security
    </ion-list-header>
    <ion-item>
      <ion-label>Enable</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="PDFPasscodeToggle" (ngModelChange)="enablePdfToggle($event)"></ion-toggle>
    </ion-item>

    <ion-item (click)="setPdfPasscode()" [ngClass]="(!PDFPasscodeToggle ? 'pdf-disabled':'')">
      PDF Passcode
      <ion-badge item-right color="secondary" [ngClass]="(!PDFPasscodeToggle ? 'pdf-button-disabled':'')+ ' badge-button-small'"> {{ PDFPasscode? 'Change' : 'Set' }} </ion-badge>
    </ion-item>

  </ion-list>
</ion-card>
