<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <ion-list-header color="light">
        Menu
      </ion-list-header>
      <div *ngIf="menuItems.length">
        <div *ngFor="let item of menuItems">
          <button ion-item menuClose (click)="openPage(item)" *ngIf="isMenuVisible(item.showFor)">
            <ion-icon [name]="item.icon" item-left></ion-icon>
            <h2>{{item.title}}</h2>
          </button>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent swipeBackEnabled="false" main></ion-nav>
