<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="ios-arrow-back-outline"> </ion-icon> Back </button>
    </ion-buttons>
    <ion-title> Hospitals </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<no-results *ngIf="!hospitalLength" icon="ios-contact-outline" text="No Hospitals configured"></no-results>
  <ion-list>
    <ion-item-sliding *ngFor="let hospital of hospitals">
      <ion-item (click)="viewHospital(hospital.hospitalId, hospital.hospitalDetail)" *ngIf="hospitalLength">
        {{hospital.hospitalDetail.name}}
        <p [innerHtml]="helper.getAddress(hospital.hospitalDetail)"></p>
        <ion-icon name="ios-arrow-forward-outline" item-right></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only color="dark" (click)="editHospital(hospital)" *ngIf="hospital.isCustom">
            <ion-icon name="md-create"></ion-icon>
            </button>
        <button ion-button icon-only color="danger" (click)="removeHospital(hospital)">
            <ion-icon name="ios-trash-outline"></ion-icon>
            </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary" icon-only (click)="hospitalCard.chooseHospital()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
