<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="slideToPrev()" *ngIf="slides.getActiveIndex() > 0">
        Previous
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="helper.hasPermission('SUBSCRIBE_SUBSCRIPTION')">Step {{slides.getActiveIndex()+1}}/3</span>
      <span *ngIf="!helper.hasPermission('SUBSCRIBE_SUBSCRIPTION')">Step {{slides.getActiveIndex()+1}}/ {{slides?.isEnd() ? slides.getActiveIndex()+1 : 2 }}</span>
    </ion-title>
    <ion-buttons end *ngIf="helper.hasPermission('SUBSCRIBE_SUBSCRIPTION')">
      <button ion-button (click)="slideToNext()" [disabled]="!isValid()">
      Next
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="!helper.hasPermission('SUBSCRIBE_SUBSCRIPTION')">
      <button ion-button (click)="slideToNext()" [disabled]="!isValid()" *ngIf="!slides?.isEnd()">
      Next
      </button>
      <button ion-button (click)="finish()" [disabled]="!isValid()" *ngIf="slides?.isEnd()">
      FINISH
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <ion-slides #slides>
    <!-- security-card slide -->
    <ion-slide *ngIf="helper.hasPermission('APP_LOCK,PDF_SECURITY')">
      <h5>
          Thank you for choosing<br/>
          Inpatient Tracker.<br/>
          Follow these simple steps to setup.
      </h5>
      <security-card (updateOptions)="updateOptions($event)"></security-card>
    </ion-slide>
    <!-- Specialization & hospital card -->
    <ion-slide>
      <h5 *ngIf="!helper.hasPermission('APP_LOCK,PDF_SECURITY')">
          Thank you for choosing<br/>
          Inpatient Tracker.<br/>
          Follow these simple steps to setup.
      </h5>
      <h6><span permission dataKeep="CHOOSE_SPECIALIZATION">Choose your Specialization <br/> and</span> Configure Hospitals.</h6>
      <specialization-card (updateOptions)="updateOptions($event)" permission dataKeep="CHOOSE_SPECIALIZATION"></specialization-card>
      <br/>
      <ion-card>
        <ion-list-header color="light" permission *ngIf="helper.hasPermission('HOSPITAL_SELECTION')">
          <span>Hospitals</span>
          <!-- we are passing true to the chooseHospital becuase to hide the custom hopsitals flow during welcomScreen -->
          <ion-icon name="add" item-right (click)="hospitalCard.chooseHospital(true)"></ion-icon>
        </ion-list-header>
        <ion-list-header color="light" permission *ngIf="!helper.hasPermission('HOSPITAL_SELECTION')">
          <span>Hospital</span>
          <ion-icon name="add" item-right (click)="hospitalCard.chooseHospital()" *ngIf="valid.hospitals < 1"></ion-icon>
        </ion-list-header>
        <hospital-card (updateOptions)="updateOptions($event)"></hospital-card>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>
