<ion-card tappable (click)="onCardSelection()">
  <img [src]="imageSrc" *ngIf="imageSrc">
  <ion-item>
    <div *ngIf="params.card" item-left>
    {{params.card.name}}
    </div>
    <div item-end *ngIf="params.card.approvalStatus != 'created' && params.card.approvalStatus != 'approved' && params.screenType != 'pendingApprovalList'">
      Status: {{ params.card.approvalStatus }}
    </div>
    <button ion-button clear icon-only item-end *ngIf="params.isCardScanning != true && params.card.isCustom && params.screenType != 'pendingApprovalList'" (click)="more()">
      <ion-icon name="ios-more-outline"></ion-icon>
    </button>
  </ion-item>
  <div class="overlay-img-ctr" *ngIf="params.isCardScanning == true && (params.currentSelectedCard || {}).cardId == params.card.cardId">
    <img src="assets/img/check-mark-icon.png" class="check-mark-img"/>
  </div>
</ion-card>
