<ion-grid>
  <ion-row align-items-center>
    <ion-col>
      <div class="no-results">
        <ion-icon [name]="icon"></ion-icon>
        <p [innerHTML]="text"></p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
