<ion-header>
  <ion-navbar color="light" hideBackButton>
    <ion-buttons left>
      <button ion-button (tap)="viewCtrl.dismiss()" clear>
        <ion-icon name="close" class="modal-close-button"> </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Specialization</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="isValid()" (click)="save()">
      Save
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list radio-group [(ngModel)]="selected">
    <ion-item *ngFor="let item of service.specializations | async">
      <ion-label> {{ item.name }} </ion-label>
      <ion-radio [value]="item.specializationId"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
