<ion-header>
  <ion-navbar color="light" hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="dismiss()" clear>
        <ion-icon name="close" class="modal-close-button"> </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons end>
      <button ion-button color="primary" [disabled]="!selectedEntities.length" (click)="save()" clear>
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light" class="searchbar-container" *ngIf="type!='Notes'">
    <ion-searchbar mode='ios' [(ngModel)]="query" autocomplete="on" showCancelButton="true" [formControl]="searchControl" placeholder="Search by name" color="light" class="searchbar"> </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <ion-list *ngIf="type!='Notes'">
    <ion-item *ngFor="let entity of entitiesList; trackBy: trackByFn">
      <div item-content class="entity-container">
        <ion-checkbox (ionChange)="toggleSelection(entity)" mode='ios'> </ion-checkbox>
        <div class="entity">
          <div class="code"> {{ entity.code }} </div>
          <div class="name"> {{ entity.name }} </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreLookups($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
