<ion-header>

  <ion-navbar color="light">
    <ion-title>Select {{selectedRole}}</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (tap)="viewCtrl.dismiss()" clear>
        <ion-icon name="close" class="modal-close-button"> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let relation of relations" (click)="checkRelation(relation)" [ngClass]="relation.isSelected ? 'selected-relation' : ''">
      <ion-label>{{relation.userAliasName}}</ion-label>
      <ion-icon [name]="relation.icon" item-right *ngIf="relation.icon"></ion-icon>
    </ion-item>
  </ion-list>
  <no-results *ngIf="!relations.length" icon="contacts" [text]="'No ' + selectedRole +'found'"></no-results>
  <ion-footer colo="primary">
    <button ion-button color="primary" block class="save-button" [disabled]="isFormValid()" (click)="createRelation()">Select</button>
  </ion-footer>
</ion-content>
