<ion-header>
  <ion-navbar color="primary">
    <ion-title>Manage Cards</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="cards-container">
  <ion-list>
    <ion-list-header color="light">
      Cards
    </ion-list-header>

    <ion-item *ngFor="let source of customerSources" (click)="viewCardDetail(source, deafultSourceId)">
      <ion-icon name="card" item-left></ion-icon>
      <h2>{{source.card.brand}} ****{{source.card.last4}}</h2>
      <span *ngIf="deafultSourceId && source && source.id && source.id == deafultSourceId" item-right><ion-badge>Default</ion-badge></span>
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="!customerSources || !customerSources.length">
    <ion-row align-items-center>
      <ion-col>
        <div class="no-results">
          <ion-icon name="card"></ion-icon>
          <p [innerHTML]="'No Cards found<br/> add new card'"></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab icon-only color="primary" (click)="addSource()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
