page-bill-details {
  ion-navbar .more-button {
    font-size: 2.4em;
  }

  .patient-card{
    padding-top: 10px !important;
  }

  .item {
    background-color: white !important;
  }

  .group-items .item{
    border-left: 2px solid #bbb;
  }

  .footer-buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 25px;

    button {
      color: white;
    }

    ion-icon {
      font-size: 1.7em;
      padding-right: 10px;
    }
  }

  .billed {
    background-color: #ddd !important;
  }

  ion-content {
    background-color: #efeff4;
  }

  .notes-container{
    background-color: white;
    height: 100%;
  }

  .scroll-content {
    margin-top: 140px;
    padding-top: 10px;
    background-color: #f8f8f8;
  }

  .entities-container{
    margin-top: 10px !important;
  }

  .patient-card {
    background-color: color($colors,primary);
    color: #ffffff;
    z-index: 1000;
    position: fixed;
    width: 100%;
    min-height: 145px;
    max-height: 180px;
    top: 0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
  }

  .buttons {
    float: right;
    display: inline-block;

    button {
      font-size: 1.2em;
      background-color: lighten(color($colors,primary), 15);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin: 10px 10px 0 0;
    }
  }

  .detail-content {
    padding: 10px 15px;
  }

  .detail-header {
    display: flex;
    position: relative;
    padding: 5px 15px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
  }

  .patient-name {
    font-size: 1.8em;
    letter-spacing: 0.2px;
    font-weight: 500;
  }

  .footer-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
  }

  .hospital-details,
  .personal-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 13px;
  }

  .personal-details{
    .room{
      text-align: center;
    }
  }

  .hospital-name {
    margin-top: 13px;
  }

  .admitting-doctor,
  .age,
  .date-of-admission,
  .dob,
  .followUp,
  .room,
  .sex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .details-title,
  .room-title {
    color: lighten(color($colors,primary), 40);
    font-size: 0.9em;
  }

  .room-title,
  .room-value {
    margin-right: 20px !important;
  }

  .details-value,
  .room-value {
    font-size: 1.05em;
  }

  .room-no {
    position: absolute;
    border-top-right-radius: 10px;
    background-color: #e50000;
    padding: 5px 10px;
    right: 0;
    top: 0;
  }

  .notes-card {
    padding: 0 !important;

    .em-codes {
      // padding-left:8px;
    }

    .item-name {
      flex: 1 !important;
      width: auto !important;
      padding-left: 30px;
    }

    .item {
      justify-content: space-between !important;
      padding: 6px 15px !important;
    }

    .header {
      // padding: 2px 6px !important;
      align-items: center;
      background-color: #F0E997;

      .add-button {
        background-color: rgb(194, 133, 44) !important;
        color: white !important;
      }
    }
  }

  .group-date {
    display: inline-block;
    width: 25%;
    font-size: 0.85em;
    padding-top: 10px;
    vertical-align: top;
    min-height: 30px;
    color: color($colors,primary);
  }

  .group-items {
    padding-left: 5px;
    display: inline-block;
    width: 75%;
    .item {
      padding: 0 5px 2px 5px !important;
    }
  }

  .codes {
    color: #4832ff;
    display: inline-block;
    font-size: 0.75em;
  }

  .item-name {
    font-size: 0.75em;
  }

  .swipe-indicator{
    color: #ccc !important;
  }

  .name {
    font-size: 0.75em;
    padding-left: 35px;
  }

  ion-list.notes-list {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: white;
  }

  .notes-container ion-slides{
    padding: 10px 0;
  }

  ion-slide.note-card {
    border-radius: 5px;
    text-align: left;
    margin: auto 5px !important;
    width: calc(100% - 50px) !important;
    height: 90px;

    .slide-zoom {
      text-align: left;
      padding: 10px 5px 10px 15px;
    }

    .note-date {
      font-size: 0.75em;
      color: brown;
    }

    .note-title {
      font-size: 1em;
      font-weight: bold;
      border-bottom: 1px dotted brown;
      margin-bottom: 3px;
    }

    .note-description {
      font-size: 0.9em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .icon-options {
    font-size: 1.6em !important;
    padding-bottom: 0.1em !important;
  }

  .options-icon {
    float: right;
    padding: 2px 10px;

    button {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin: -10px -10px 0 0;
      color: white;
      background-color: rgba(0,0,0,0.3);
    }
  }

  ion-slide.note-card:first-child {
    margin-left: 25px !important;
  }
}
