confirm-registration,
page-forgot-password,
page-forgot-password-2,
page-login,
verify-password {
  .toolbar-background-ios {
    border: 0 !important;
  }

  .div-text {
    text-align: center;
    margin: 10px 0;
  }

  .otp-input input {
    text-align: center;
    font-size: 24px;
  }

  .div-text > span {
    background-color: lighten(color($colors, primary), 15%) !important;
    display: inline-block;
    padding: 2px;
    width: 30px;
    height: 30px;
    font-size: 100%;
    border-radius: 50%;
  }

  h4 {
    padding: 0 15px;
    text-align: center;
    font-weight: 300;
  }

  .logo {
    text-align: center;
    margin: auto;
    padding: 15px;
  }

  img.imageLogo {
    max-width: 100% !important;
    height: 100px;
    border-radius: 40%;
  }

  ion-slide#main-slide {
    // background-image: url(/assets/img/login-screen.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .slide-zoom {
    // overflow: scroll !important;
    height: inherit;
  }

  .multiline-text {
    white-space: normal!important;
  }

  .multiline-text ion-label {
    white-space: normal!important;
    margin: 0;
  }

  .scroll-content {
    overflow-y: auto !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .content-md,
  .content-md h2,
  .content-md p,
  .item-ios,
  .item-ios p {
    color: white !important;
  }

  input.text-input {
    color: #000000;
  }

  input.text-input::placeholder {
    color: #ccc;
  }

  ion-footer {
    position: fixed;
  }

  ion-header,
  ion-toolbar {
    border: none;
    color: white;
  }

  ion-toolbar a {
    color: white;
    text-decoration: underline;
  }

  ion-row {
    text-align: -webkit-center;
  }

  .forgot-password-label {
    float: right;
    color: black;
    font-size: smaller;
    margin-top: 20px;
    margin-bottom: 12px;
  }
}
