<ion-header>
  <ion-toolbar color="light">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <ion-title>
      Edit Account
    </ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="update()" [disabled]="!isValid()">Save</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form #userDetailForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Name</ion-label>
        <ion-input [(ngModel)]="user.name" name="name" type="text" required>
        </ion-input>
      </ion-item>
      <ion-list-header>
        Change the password
      </ion-list-header>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Old Password</ion-label>
        <ion-input [(ngModel)]="user.oldPassword" type="password" name="oldPassword" minlength="6">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">New Password</ion-label>
        <ion-input [(ngModel)]="user.newPassword" type="password" name="newPassword" minlength="6">
        </ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
